engine-strict=false
legacy-peer-deps=true
registry=https://registry.npmjs.org/
prefer-npm=true
use-node-version=20.9.0
sharp_binary_host=https://npm.taobao.org/mirrors/sharp
sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips